<mat-table class="lessons-table mat-elevation-z8" [dataSource]="cities">

  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let city">{{city.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let city">{{city.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Url">
    <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let city"><img width="75px" height="75px" src="{{city.imageUrl}}"/></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

<mat-paginator [length]="1000"
               [pageSize]="3"
               [pageSizeOptions]="[3, 5, 10]"
               (page)="onPageChange($event)">
</mat-paginator>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>City</mat-label>
  <input matInput placeholder="Ex. San Francisco" #findCity>
</mat-form-field>

<div class="button-row">
  <button mat-raised-button color="primary" (click)="searchCity(findCity.value)">Find City</button>
  <button mat-stroked-button color="primary" *ngIf="foundCity" (click)="openEditForm()">Edit City</button>
</div>

<div *ngIf="editFormVisible">
  <form #f="ngForm" (ngSubmit)="editCity(f)" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>Edit City name</mat-label>
      <input matInput type="text" ngModel name="name" [(ngModel)]="foundCity.name">
    </mat-form-field>

    <mat-form-field class="edit-url-field" appearance="fill">
      <mat-label>Edit City URL</mat-label>
      <input matInput type="text" ngModel name="url" [(ngModel)]="foundCity.imageUrl">
    </mat-form-field>

    <hidden ngModel name="id" [(ngModel)]="foundCity.id"></hidden>

    <button mat-raised-button color="warn">Save Changes</button>
  </form>
</div>

<mat-card class="example-card" *ngIf="foundCity">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{foundCity.name}}</mat-card-title>
  </mat-card-header>
  <img class="image-container" mat-card-image src="{{foundCity.imageUrl}}">
</mat-card>



